<%= form_with(model: room, remote: true, class: 'form-inline') do |form| %>

  <%= form.text_field :name, class: 'form-control', placeholder: 'Name' %>

  <!-- <div class="form-group">
    <%#= form.label :users, style: "display: block" %>
    <%#= form.select 'user_ids[]', options_for_select(@users.pluck(:email, :id)),{}, {multiple: true, class: 'form-control', style: 'min-height: 150px;', required: true}%>
  </div> -->

  <%= form.submit 'Create', class: "btn btn-primary ml-3" %>
<% end %>
