<article class="leaderboard">
  <h1 class="leaderboard__title">
    <span class="leaderboard__title--bottom">Your Rooms(<%=@rooms.count%>)</span>
  </h1>
  
  <% @rooms.each do |room| %>
    <main class="leaderboard__profiles">
      <span class="leaderboard__name"><%=room.name%></span>
      <span class="leaderboard__value"><%= room.unread_messages_count %></span>
    </main>
  <%end%>

</div>